
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: -3.4vh;
  padding: 0px;
  overflow-x: hidden; 
}
.wrapper:hover #info {
  transition: 1s;
  left: 2vh;
}
#slide1 {
  background-image: url("img/front.jpg");
  background-size: cover
}
#slide2 {
  background-image: url("img/specs.jpg");
  background-size: cover;
  height: auto;
}
.parallax {
  /* The image used */

  /* Set a specific height */
  min-height: 500px;
  background-color: linear-gradient(74deg, rgba(0,0,0,1) 0%, rgba(88,88,88,1) 13%, rgba(0,0,0,0) 100%);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px)
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-900px)
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    transform: translateY(-900px)
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-900px)
  }
  100% {
    transform: translateY(0);
  }
}

.topnav {
  background: rgb(255, 255, 255);
  overflow: hidden;
  -webkit-animation: slideDown 1s forwards;
  -moz-animation: slideDown 1s forwards;
  animation: slideDown 1s forwards;
}
.gray-box-parent {
  background-color: rgb(83, 57, 51);
  border-width: thick;
  border-color: rgb(110, 110, 110);
  padding: 5vh 5vh 5vh 5vh;
}
.gray-box-parent h2 {
  color: white;
}
.gray-box-parent h4 {
  color:rgb(212, 212, 212)
}
.horizontal-parent {
  display: block;
  text-align: center;
  
}
.horizontal-child {
  padding-right: 2vh;
  text-align: initial;
}

#logo {
  float: left;
  color: #aa3904;
  font-weight: bold;
  
}
.img-desc {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 

  width: auto;
  height: 20vh;

  border-color: #0468aa;
  border-width: thick;
  border-radius: 1vh;
  text-align: center;
}
.centerfix {
  padding: 5vh 5vh 5vh 5vh;
  content: "";
  clear: both;
  display: table;
}
.rightShift {
padding-left: 20vh;
}
.leftShift {
  padding-right: 20vh;
  }

#info {
  width: 50%;
  background-color: rgb(255, 255, 255);
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
.introT {
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  width: 50%;
  margin: 10vh auto 10vh auto;
  padding: 2vh 5vh 5vh 5vh;
  border-radius: 1vh;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
  transition:visibility;
}
.introT h4 {
  color: rgb(0, 0, 0);
  font-weight: normal;
}
.introT h2 {
  color: rgb(255, 71, 25);
  font-weight: bolder;
}
#info h4 {
  font-weight: 600;
}

.topnav a {
    float: right;
    display: block;
    color: #cf4522;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Style the links inside the navigation bar */
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #aa3904;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  @media only screen and (min-width: 768px)  {
    .horizontal-parent {
      display: inline-flex;
      text-align: center;
    }
    .horizontal-child {
      padding-right: 2vh;
      text-align: initial;
    }
    .introT {
      overflow: hidden;
      background-color: rgb(245, 245, 245);
      width: 35%;
    }
    
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }