
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
.wrapper:hover #info {
  transition: 1s;
  left: 2vh;
}
#slide1 {
  background-image: url("img/front.jpg");
  background-size: cover
}
#slide2 {
  background-image: url("img/specs.jpg");
  background-size: auto;
  width:fit-content;
}
.parallax {

  /* The image used */

  /* Set a specific height */
  min-height: 500px;
  background-color: linear-gradient(74deg, rgba(0,0,0,1) 0%, rgba(88,88,88,1) 13%, rgba(0,0,0,0) 100%);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px)
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-900px)
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    transform: translateY(-900px)
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-900px)
  }
  100% {
    transform: translateY(0);
  }
}

.topnav {
  background: rgb(255, 255, 255);
  overflow: hidden;
  -webkit-animation: slideDown 1s forwards;
  -moz-animation: slideDown 1s forwards;
  animation: slideDown 1s forwards;
  z-index: 0;
  transition: all 2s;
}
.gray-box-parent {
  background-color: rgb(51, 73, 83);
  border-width: thick;
  border-color: rgb(110, 110, 110);
}
.gray-box-parent h2 {
  color: white;
}
.gray-box-parent h4 {
  color:rgb(212, 212, 212)
}
.horizontal-parent {
  display: inline-block;
}
.horizontal-child {
  padding-right: 2vh;
  text-align: initial;
}

#logo {
  float: left;
  color: hsl(199, 95%, 34%);
  font-weight: bold;
  
}
.img-desc {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 

  width: auto;
  height: 20vh;

  border-color: #0468aa;
  border-width: thick;
  border-radius: 1vh;
  text-align: center;

  
}

video {
  transition: all cubic-bezier(0,1.01,.12,1) 1s;
  box-shadow: 0px 5px  #ebebeb;;
  
}
.centerfix {
  padding: 5vh 5vh 5vh 5vh;
  content: "";
  clear: both;
  display: table;
  margin:auto;
  
}
.sidefix {
  padding: 5vh 5vh 5vh 5vh;
  content: "";
  clear: both;
  display: table;
  
}
.rightShift {
padding-left: 20vh;
}
.leftShift {
  padding-right: 20vh;
  }

#info {
  width: 50%;
  background-color: rgb(255, 255, 255);
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
  height: auto;
}
.introT {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 10vh auto 10vh auto;
  padding: 0vh 3vh 3vh 3vh;
  text-align: center;
  height: auto;
  transition: all cubic-bezier(0,1.01,.12,1) 1s;
  box-shadow: 0px 20px  #ebebeb;;
  border-color: #ebebeb;
  border-width: thin;
  border-style: solid;
  -webkit-animation: slideDown .5s forwards;
  -moz-animation: slideDown .5s forwards;
  animation: slideDown .5s forwards;
  z-index: 0;
}
.introT h4 {
  color: rgb(0, 0, 0);
  font-weight: normal;
}
.introT h2 {
  color: hsl(199, 95%, 34%);
  font-weight: bolder;
}
#info h4 {
  font-weight: 600;
}

.topnav a {
    float: right;
    display: block;
    color: hsl(199, 95%, 34%);
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 24px;
  }
  /* Style the links inside the navigation bar */
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(163, 77, 62);
    color: black;
  }
  .introT:hover {
    transition: all cubic-bezier(0,1.01,.12,1) 1s;
    box-shadow: 0px 20px  #912112;
    border-color: #ebebeb;
    border-width: thin;
    border-style: solid;
    padding: 0vh 3vh 2vh 3vh;
  }
  
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: hsl(0, 95%, 34%);
    color: rgb(255, 255, 255);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
    background-color: hsl(0, 95%, 34%)
  }
  @media only screen and (min-width: 768px)  {
    .horizontal-parent {
      display: inline-flex;
      text-align: center;
    }
    .horizontal-child {
      padding: auto;
      margin: 8vh;
      text-align: initial;
    }
    .introT {
      overflow: hidden;
      background-color: rgb(245, 245, 245);
      width: auto;
      width: 70%;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      color: white;
    }
    .topnav .active {
      display: none;
    }
    .topnav {
      z-index: 9;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }